# Python cache files
__pycache__/
*.pyc

# Virtualenv files
env/
venv/

# Vim swap files
*.sw*

# Secret file
variables.py

# Migrations file
migrations

# Vscode config files
.vscode/
# Ignore sqlite database
db
#settings because no postgres
settings.py

#profile pictures for tests
profile_pictures/

# event pictures for tests
event_pictures/

# Environment variables for using in production
.env

# Jetbrains project files
.idea/
