# Python cache files
__pycache__/
*.pyc

# Virtualenv files
env/
venv/

# Vim swap files
*.sw*

# Secret file
variables.py

# Migrations file
migrations

# Vscode config files
.vscode/
# Ignore sqlite database
db
#settings because no postgres
settings.py
#profile pictures for tests
profile_pictures/