{% extends 'wao/layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Créer un évènement{% endblock title %}

{% block mystylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'wao/css/register.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{{ form.media }}
{% endblock mystylesheet %}

{% block content %}
<div class="yellow-header">
    <p class="text-center text-white header-text">Créer votre évènement</p>
    <div class="separated-div-wrapper">
        <div class="separators header"></div>
        <div class="separators header center-white"></div>
        <div class="separators header"></div>
    </div>
</div>

<div class="container py-2">
    <div id="eventForm">
        <div class="card card-body">
            Les champs suivis d'une astérisque sont obligatoires. <br>
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                {% for field in event_creation_form %}
                <p>
                    {{ field | as_crispy_field }}
                    {% for error in field.errors %}
                    <small class="errors">{{ error }}</small>
                    {% endfor %}
                </p>
                {% endfor %}
                <button class="btn btn-primary" type="submit" name="event_creation">Créer</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
{% block myjssheet %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $('option').mousedown(function (e) {
        e.preventDefault();
        var originalScrollTop = $(this).parent().scrollTop();
        console.log(originalScrollTop);
        $(this).prop('selected', $(this).prop('selected') ? false : true);
        var self = this;
        $(this).parent().focus();
        setTimeout(function () {
            $(self).parent().scrollTop(originalScrollTop);
        }, 0);

        return false;
    });
</script>
{% endblock myjssheet %}