{% extends 'wao/layouts/base.html' %}
{% load static %}

{% block title %}Se connecter{% endblock title %}

{% block mystylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'wao/css/login.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {{ form.media }}
{% endblock mystylesheet %}

{% block content %}
    <div class="yellow-header">
        <p class="text-center text-white header-text">Se connecter</p>
        <div class="separated-div-wrapper">
            <div class="separators header"></div>
            <div class="separators header center-white"></div>
            <div class="separators header"></div>
        </div>
    </div>
    <br>
    <div class="container py-2">
        <div class="card card-body">
            <form class="form" action="/login/" method="POST">
                {% csrf_token %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <input class="emailinput form-control" id="email" type="email" placeholder="E-mail" name="email"
                       required>
                <br>
                <input class="textinput textInput form-control" id="password" type="password" placeholder="Mot de passe"
                       name="password" required>
                <br>
                <button class="mx-4 button" type="submit" name="login">Se connecter</button>
            </form>
        </div>
    </div>

{% endblock content %}

{% block myjssheet %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock myjssheet %}
