{% extends 'wao/layouts/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block title %}Nos Programmes{% endblock title %}

{% block mystylesheet %}

    {#    <link rel="stylesheet" type="text/css" href="{% static 'wao/css/index.css' %}">#}
    <link rel="stylesheet" type="text/css" href="{% static 'wao/css/programs.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {{ form.media }}
{% endblock mystylesheet %}

{% block content %}

    <div class="yellow-header">
        <p class="text-center text-white header-text">Nos programmes perso</p>
        <div class="separated-div-wrapper">
            <div class="separators header"></div>
            <div class="separators header center-white"></div>
            <div class="separators header"></div>
        </div>
    </div>

    <div class="container text-center pt-2">
        <h4>C'est ici pour proposer ton programme perso We Are One ! </h4>
        <div class="container text-center py-4">
            {#        <button type="button" class="mx-4 btn btn-primary">Créer un évènement</button>#}
            {#            <a href="{% url 'create_event' %}">#}
            {#            </a>#}
            <button type="button" class="mx-4 button" onclick="location.href='create_program/'">Proposer un programme
                perso
            </button>
        </div>
    </div>


    <div class="white-header">
        <p class="text-center header-text">Ce qui est en train d'arriver !</p>
        <div class="separated-div-wrapper">
            <div class="separators header"></div>
            <div class="separators header center-yellow"></div>
            <div class="separators header"></div>
        </div>
    </div>

    <div class="container text-center py-4">

        <button type="button" class="mx-4 button" onclick="location.href='subscribe_programs/'">
            M'inscrire à un programme perso
        </button>
    </div>



    <div class="white-header">
        <p class="text-center header-text">Il reste encore des question ?</p>
        <div class="separated-div-wrapper">
            <div class="separators header"></div>
            <div class="separators header center-yellow"></div>
            <div class="separators header"></div>
        </div>
    </div>

    <div class="container text-center py-4">
        <button type="button" class="mx-4 button" onclick="location.href='all_programs/'">Liste
            des programmes perso
        </button>

        <button type="button" class="mx-4 button" onclick="location.href='search_programs/'">Chercher un programme perso
        </button>
    </div>




{% endblock content %}
