{% extends 'wao/layouts/base.html' %}
{% load static %}

{% block title %}Notre annuaire{% endblock title %}

{% block mystylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'wao/css/yearbook.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{{ form.media }}
{% endblock mystylesheet %}


{% block content %}

<div class="yellow-header">
    <p class="text-center text-white header-text">Annuaire des profils</p>
    <div class="separated-div-wrapper">
        <div class="separators header"></div>
        <div class="separators header center-white"></div>
        <div class="separators header"></div>
    </div>
</div>
<br>
<div class="text-center">
    <form action="/yearbook/search_user/" class="form-inline my-2 my-lg-0 text-center">
        <input name="q" class="form-control mr-sm-2 search-text" type="search" placeholder="Chercher un utilisateur..."
            aria-label="Search">
        <button class="search-button-user" type="submit">Chercher</button>
    </form>
    <div id="drop" class="dropdown mx-4">
        <button id="dropbtn" class="dropbtn"> &nbsp; &nbsp;Trier les profils&nbsp; &nbsp;</button>
        <div class="dropdown-content">
            <a href="last_name">Nom de famille</a>
            <a href="date_joined">Date d'inscription</a>
            <a href="membership_type">Type de cotisation</a>
        </div>
    </div>
    <br><br>
    {% for profile in profiles %}
    <a href="/user/{{ profile.id }}">
        <div class="dress-card">
            <div class="dress-card-head">
                {% if profile.photo == "" and user.gender == "F" %}
                <img class="dress-card-img-top" src="../../static/wao/profile_pictures/default_women.jpg" />
                {% elif profile.photo == "" %}
                <img class="dress-card-img-top" src="../../static/wao/profile_pictures/default_men.jpg" />
                {% else %}
                <img class="dress-card-img-top" src="../{{ profile.photo }}" />
                {% endif %}
            </div>
            <div class="dress-card-body">
                <h4 class="dress-card-title">{{ profile.first_name }} {{ profile.last_name }}
                </h4>
                <hr id="separators" class="light my-4" />
                <p class="dress-card-para">{{ profile.job_title }}
                </p>
            </div>
        </div>
    </a>
    {% endfor %}
    <br><br>
</div>
{% endblock content %}