{% extends 'core/layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Créer un évènement{% endblock title %}

{% block mystylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/create_event.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {{ form.media }}
{% endblock mystylesheet %}

{% block content %}
    <div class="container-fluid text-center pt-2 tracking-in-contract-bck">
        <h1>Création d'évènements</h1>

        <form action='event_title' method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>

    </div>

{% endblock content %}
