{% extends 'core/layouts/base.html' %}
{% load static %}

{% block title %}Page d'accueil{% endblock title %}

{% block mystylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
{% endblock mystylesheet %}

{% block content %}
<div class="container-fluid text-center pt-2 tracking-in-contract-bck">
    <h1>Bienvenue sur la page d'Accueil</h1>
</div>
<div class="container text-justify pt-2">
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio minus qui aperiam, 
        ab quis porro totam repellat officia neque! Earum sapiente recusandae ducimus quam hic magnam nulla maxime mollitia alias.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores possimus ipsa, accusantium architecto, eius corrupti minima, 
    molestias odit sapiente reiciendis voluptate id? Doloremque sunt aspernatur animi dignissimos voluptatum modi architecto?
    Soluta iusto eaque nihil nostrum commodi nulla aliquam quod quibusdam repudiandae quas, maiores laudantium blanditiis odio 
    saepe ullam reiciendis ipsa rerum voluptate facilis quasi vero. Perspiciatis corrupti et ipsam voluptatem?
    Voluptate ipsum debitis omnis facilis ducimus saepe perferendis qui deleniti accusamus sed. Fugit id veritatis 
    laborum? Rem voluptas modi esse porro iure sed. Reiciendis ullam, quisquam ut eum libero dolores. </h4>
</div>
{% endblock content %}
{% block myjssheet %}
{% endblock myjssheet %}