{% extends 'core/layouts/base.html' %}
{% load static %}

{% block title %}Accueil - WAO{% endblock title %}

{% block mystylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
{% endblock mystylesheet %}

{% block content %}
    <div class="container-fluid text-center pt-2 tracking-in-contract-bck">
        <h1>Espace membre</h1>
    </div>
    <div class="container text-center pt-2">
        <h4>Bienvenue sur l'espace membre We Are One ! </h4>
        <div class="container text-justify pt-3 pb-2">
            <h6>Bienvenue sur le site qui regroupe la communauté We Are One</h6>
            <h6>Dans notre site, vous allez rencontrer les informations necessaires pour changer votre profile et
                s'incrire aux evenements proposés par We Are One, aux programmes de dévellopment personnel et aussi
                regarder d'autres profiles interessant de notre communauté avec l'annuaire. L’équipe permanente est
                composée de plusieurs collaborateurs travaillant à plein temps pour We Are One. Ils sont la colonne
                vertébrale de notre communauté, et coordonnent les différentes actions au quotidien. Ici, vous avez
                votre espace personnel pour modifier vos informations et choisir vos abonnements dans notre
                communauté. </h6>
        </div>
    </div>
    <div class="container text-center py-4">
        <button type="button" class="mx-4 btn btn-primary">Se connecter</button>
        <a href="{% url 'register' %}">
            <button type="button" class="mx-4 btn btn-outline-primary">S'inscrire</button>
        </a>
    </div>
{% endblock content %}
{% block myjssheet %}
{% endblock myjssheet %}
