{% extends 'core/layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}S'inscrire{% endblock title %}

{% block mystylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/register.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{{ form.media }}
{% endblock mystylesheet %}

{% block content %}
<div class="yellow-header">
    <p class="text-center text-white header-text">S'inscrire</p>
    <div class="separated-div-wrapper">
        <div class="separators header"></div>
        <div class="separators header center-white"></div>
        <div class="separators header"></div>
    </div>
</div>


<div class="container py-2">
    <p class="text-center"> Je suis :
        <a href="{% url 'form_user' %}">
            <button class="mx-4 button" type="button">
                Un utilisateur
            </button>
        </a>
        <a href="{% url 'form_company' %}">
            <button class="mx-4 button" type="button">
                Une entreprise
            </button>
        </a>
    </p>
</div>
{% endblock content %}
{% block myjssheet %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#id_birthday").datepicker();
    });
</script>
{% endblock myjssheet %}