
.blog-card {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin: 1rem 1rem;
    box-shadow: 3px 2px 10px rgba(128, 128, 128, 0.3);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    border-radius: 15px;
    overflow: hidden;
    z-index: 0;
    max-width:360px;
    min-width:360px;
    min-height: 170px;
    max-height: 170px;
  }
  .blog-card a {
    color: inherit;
  }
  .blog-card a:hover {
    color: #fedb00;
  }
  .blog-card:hover .photo {
    -webkit-transform: scale(1.3) rotate(3deg);
            transform: scale(1.3) rotate(3deg);
  }
  .blog-card .meta {
    position: relative;
    z-index: 0;
    height: 170px;
  }
  .blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }
  .blog-card .description {
    padding: 0.5rem;
    background: #fff;
    position: relative;
    z-index: 1;
  }
  .blog-card .description h1,
  .blog-card .description h2 {
    font-family: montserrat;
  }
  .blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size:0.95rem;
  }
  .blog-card .description h2 {
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
  }

  .blog-card .description .text{
    font-size:0.75rem;
  }
  .blog-card .description .read-more {
    font-size: 0.85rem;
    text-align: right;
    color: #fedb00;
  }
  
  .blog-card p {
    position: relative;
    margin: 1rem 0 0;
  }
  .blog-card p:first-of-type {
    margin-top: 1.05rem;
  }
  .blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 2px;
    background: #fedb00;
    width:100%;
    top: -0.75rem;
    border-radius: 3px;
  }
  .blog-card:hover .details {
    left: 0%;
  }
  @media (min-width: 640px) {
    .blog-card {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      max-width: 360px;
      display:inline-flex;
    }
    .blog-card .meta {
      flex-basis: 40%;
      max-height: auto;
      min-height: auto;
    }
    .blog-card .description {
      flex-basis: 60%;
    }
    .blog-card .description:before {
      -webkit-transform: skewX(-3deg);
              transform: skewX(-3deg);
      content: "";
      background: #fff;
      width: 30px;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
  }
  