body,
html {
  width: 100%;
  height: 100%;
  font-family: montserrat;
}

@font-face {
    font-family: montserrat;
    src: url(../font/Montserrat-Regular.otf);
  }

  @font-face {
    font-family: montserrat-light;
    src: url(../font/Montserrat-Light.otf);
  }

  @font-face {
    font-family: montserrat-bold;
    src: url(../font/Montserrat-Bold.otf);
  }

  @font-face {
    font-family: montserrat-italic;
    src: url(../font/Montserrat-Italic.otf);
  }

  @font-face {
    font-family: montserrat-medium;
    src: url(../font/Montserrat-Medium.otf);
  }

  .nav-link{
    font-size: 14px;
  }

  .search-button{
    background-color: #fedb00;
    font-size: 12px;
    border-radius:100px;
    padding-top:8px;
    padding-bottom:8px;
    padding-right: 25px;
    padding-left: 25px;
    border: 1px solid #fedb00;
    color:white;
    font-family: montserrat;
  }

  .search-text{
    font-size: 12px;
  }
  
  .button{
    background-color: #fedb00;
    font-size: 15px;
    border-radius:100px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right: 30px;
    padding-left: 30px;
    border: 1px solid #fedb00;
    color:white;
    font-family: montserrat;
  }

  .yellow-header{
    padding: 20px;
    background-color: #fedb00;
    text-transform: uppercase;
}

.header-text{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.separated-div-wrapper {
    display: block;
    height: 40px;
    margin: 0px auto 10px;
    padding-bottom: 10px;
    text-align: center;
}

.separator {
    display: inline-block;
    width: 30px;
    height: 1px;
    margin: 30px 2px 50px;
    background-color: #24c3e2;
}

.separator.header {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #c9c9c9;
}

.center-yellow{
    background-color: #fedb00 !important;
}

.center-white{
  background-color: rgba(255, 255, 255, 0.5) !important;
}