/* Dropdown Button */
.dropbtn {
    background-color: #fedb00;
    border-radius: 100px;
    font-size: 14px;
    padding: 10px 25px;
    border: 1px solid #fedb00;
    color: white;
    font-family: montserrat, serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    padding: 10px 25px 10px 24px;
    min-width: 160px;
    font-size: 14px;
    z-index: 1;
    border: 2px solid #fedb00;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgba(0, 0, 0, 0.7);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover, .dropbtn:hover {
    background-color: #fedb00;
    border-radius: 20px 20px 0 0;
}